<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shop?useUnicode=true;characterEncoding=utf-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="shop.entities.Category" />
		<mapping class="shop.entities.Image" />
		<mapping class="shop.entities.Order" />
		<mapping class="shop.entities.Orderdetail" />
		<mapping class="shop.entities.Product" />
		<mapping class="shop.entities.User" />
	</session-factory>
</hibernate-configuration>
